<!-- Header -->
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a id="mobile_btn" href="javascript:void(0);">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a href="index-2.html" class="navbar-brand logo">
          <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
        </a>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a href="index-2.html" class="menu-logo">
            <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
          </a>
          <a id="menu_close" class="menu-close" href="javascript:void(0);">
            <i class="fas fa-times"></i>
          </a>
        </div>
        <ul class="main-nav">
          <li class="active">
            <a class="cursor-hand" (click)="vNavigate('home')">Home</a>
          </li>
          <li class="has-submenu">
            <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
            <ul class="submenu">
              <li><a class="cursor-hand" (click)="vNavigate('doctor-dashboard')">Doctor Dashboard</a></li>
              <li><a href="appointments.html">Appointments</a></li>
              <li><a href="schedule-timings.html">Schedule Timing</a></li>
              <li><a href="my-patients.html">Patients List</a></li>
              <li><a href="patient-profile.html">Patients Profile</a></li>
              <li><a href="chat-doctor.html">Chat</a></li>
              <li><a href="invoices.html">Invoices</a></li>
              <li><a href="doctor-profile-settings.html">Profile Settings</a></li>
              <li><a href="reviews.html">Reviews</a></li>
              <li><a href="doctor-register.html">Doctor Register</a></li>
            </ul>
          </li>	
          <li class="has-submenu">
            <a href="#">Patients <i class="fas fa-chevron-down"></i></a>
            <ul class="submenu">
              <!-- <li class="has-submenu">
                <a href="#">Doctors</a>
                <ul class="submenu">
                  <li><a href="map-grid.html">Map Grid</a></li>
                  <li><a href="map-list.html">Map List</a></li>
                </ul>
              </li> -->
              <li><a class="cursor-hand" (click)="vNavigate('doctors-search')">Search Doctor</a></li>
              <li><a class="cursor-hand" (click)="vNavigate('doctor-profile')">Doctor Profile</a></li>
              <li><a>Booking</a></li>
              <li><a>Checkout</a></li>
              <li><a>Booking Success</a></li>
              <li><a>Patient Dashboard</a></li>
              <li><a>Favourites</a></li>
              <li><a>Chat</a></li>
              <li><a>Profile Settings</a></li>
              <li><a>Change Password</a></li>
            </ul>
          </li>	
          <li class="has-submenu">
            <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
            <ul class="submenu">
              <li><a href="voice-call.html">Voice Call</a></li>
              <li><a href="video-call.html">Video Call</a></li>
              <li><a href="search.html">Search Doctors</a></li>
              <li><a href="calendar.html">Calendar</a></li>
              <li><a href="components.html">Components</a></li>
              <li class="has-submenu">
                <a href="invoices.html">Invoices</a>
                <ul class="submenu">
                  <li><a href="invoices.html">Invoices</a></li>
                  <li><a href="invoice-view.html">Invoice View</a></li>
                </ul>
              </li>
              <li><a href="blank-page.html">Starter Page</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="register.html">Register</a></li>
              <li><a href="forgot-password.html">Forgot Password</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#">Blog <i class="fas fa-chevron-down"></i></a>
            <ul class="submenu">
              <li><a href="blog-list.html">Blog List</a></li>
              <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li>
            <a href="admin/index.html" target="_blank">Admin</a>
          </li>
          <li class="login-link">
            <a >Login / Signup</a>
          </li>
        </ul>		 
      </div>		 
      <ul class="nav header-navbar-rht">
        <li class="nav-item contact-item">
          <div class="header-contact-img">
            <i class="far fa-hospital"></i>							
          </div>
          <div class="header-contact-detail">
            <p class="contact-header">Contact</p>
            <p class="contact-info-header"> +1 315 369 5943</p>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link header-login" href="login.html">login / Signup </a>
        </li>
      </ul>
    </nav>
  </header>
  <!-- /Header -->