<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Booking</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->


<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="booking-doc-info">
                            <a href="doctor-profile.html" class="booking-doc-img">
                                <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a href="doctor-profile.html">{{selectedDoctor.userFirstName}}
                                        {{selectedDoctor.userLastName}}</a></h4>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <!-- <span class="d-inline-block average-rating">35</span> -->
                                </div>
                                <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-6">
                        <!-- <h4 class="mb-1">11 November 2019</h4>
                        <p class="text-muted">Monday</p> -->
                    </div>
                    <div class="col-12 col-sm-8 col-md-6 text-sm-right">
                        <div class="bookingrange btn btn-white btn-sm mb-3">
                            <i class="far fa-calendar-alt mr-2"></i>
                            <span></span>
                            <i class="fas fa-chevron-down ml-2"></i>
                        </div>
                    </div>
                </div>
                <!-- Schedule Widget -->
                <div class="card booking-schedule schedule-widget">

                    <!-- Schedule Header -->
                    <div class="schedule-header">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Day Slot -->
                                <div class="day-slot">
                                    <ul>
                                        <li class="left-arrow">
                                            <a href="#" onclick="return false">
                                                <i class="fa fa-chevron-left"></i>
                                            </a>
                                        </li>
                                        <li *ngFor="let schedule of bookingData.scheduleTimings">
                                            <span>{{schedule.day.dayName}}</span>
                                            <span class="slot-date">{{schedule.day.dayDate | date:'dd  MMM  yyyy'}}
                                            </span>
                                        </li>
                                        <li class="right-arrow">
                                            <a href="#" onclick="return false">
                                                <i class="fa fa-chevron-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Day Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Header -->

                    <!-- Schedule Content -->
                    <div class="schedule-cont">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Time Slot -->
                                <div class="time-slot">
                                    <ul class="clearfix">
                                        <li *ngFor="let day of bookingData.scheduleTimings; let dayIndex = index;">
                                            <ng-container *ngIf="day.slots == null || day.slots.length == 0">
                                                <a class="timing">
                                                    <span>Not available</span>
                                                </a>
                                            </ng-container>
                                            <ng-container *ngIf="day.slots != null && day.slots.length > 0">
                                                <ng-container *ngFor="let slot of day.slots; let slotIndex = index;">
                                                    <a *ngIf="!slot.slotIsBooked"
                                                        [id]="'SlotClass' + dayIndex + slotIndex"
                                                        [name]="'SlotClass' + dayIndex + slotIndex"
                                                        [class]="notBookedSlotClass" href="#" onclick="return false"
                                                        (click)="CheckSlotAvailability(dayIndex, slotIndex)">
                                                        <span>{{slot.slotTimeFrom}}</span>
                                                    </a>
                                                    <a *ngIf="slot.slotIsBooked" class="timing selected" href="#"
                                                        onclick="return false"
                                                        (click)="CheckSlotAvailability(slot, day)">
                                                        <span>{{slot.slotTimeFrom}}</span>
                                                    </a>
                                                </ng-container>

                                            </ng-container>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Time Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Content -->

                </div>
                <!-- /Schedule Widget -->

                <!-- Submit Section -->
                <div class="submit-section proceed-btn text-right">
                    <a href="#" onclick="return false" class="btn btn-primary submit-btn"
                        (click)="ProceedToPay()">Proceed to Pay</a>
                </div>
                <!-- /Submit Section -->

            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->